.TextEditor{
    width:70%;
    margin-left: 15%;
}
.div{
    background: #EDF2FA;
    margin-left:13px;
    width:98%;
    border-radius:34px;
    height:38px;
    margin-bottom: -40px;

}


















